**Andika Putra Wijaya - 168**

**Seleksi Asisten Praktikum Kecerdasan Buatan**

---

## Mana functionnya, mana input, proses, dan Outputnya

Function

In [1]:
def total(harga,jumlah):
    """fungsi untuk menghitung Total bayar"""
    return harga*jumlah

Input

In [2]:
harga = int(input("masukan harga barang: "))
jumlah = int(input("masukan jumlah baju yang dibeli: "))

masukan harga barang: 20000
masukan jumlah baju yang dibeli: 3

Process

In [7]:
Total = total(harga,jumlah)
if Total > 100000:
    Total = Total-0.05*Total

Output

In [8]:
print("Total Harga = ", "Rp.",Total)

Total Harga =  Rp. 60000

In [11]:
Bayar = int(input("Jumlah Nominal Uang = "))
Kembalian = (Bayar-Total)

Jumlah Nominal Uang = 120000

In [12]:
print("Uang Kembalian = ", "Rp.",Kembalian)

Uang Kembalian =  Rp. 60000

## Modifikasi kode bila diberikan diskon 25%

In [13]:
print(" ———Toko Amanah Jaya———")

def total(harga,jumlah):
    """fungsi untuk menghitung Total bayar"""
    return harga*jumlah

# input data
harga = int(input("masukan harga barang: "))
jumlah = int(input("masukan jumlah baju yang dibeli: "))
Total = total(harga,jumlah)

# diskon 25% tiap pembelian di atas Rp.100rb
if Total > 100000:
    Total = Total-0.25*Total

print("Total Harga = ", "Rp.",Total)
Bayar = int(input("Jumlah Nominal Uang = "))
Kembalian = (Bayar-Total)
print("Uang Kembalian = ", "Rp.",Kembalian)

 ———Toko Amanah Jaya———
masukan harga barang: 5000
masukan jumlah baju yang dibeli: 2
Total Harga =  Rp. 10000
Jumlah Nominal Uang = 20000
Uang Kembalian =  Rp. 10000